<%= form_for(@modifier) do |f| %>
  <% if @modifier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@modifier.errors.count, "error") %> prohibited this modifier from being saved:</h2>

      <ul>
      <% @modifier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
