<h1>Listing percentage_modifiers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @percentage_modifiers.each do |percentage_modifier| %>
  <tr>
    <td><%= link_to 'Show', percentage_modifier %></td>
    <td><%= link_to 'Edit', edit_percentage_modifier_path(percentage_modifier) %></td>
    <td><%= link_to 'Destroy', percentage_modifier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Percentage modifier', new_percentage_modifier_path %>
