<div class = "span4">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Month</th>
    <th>Amount</th>
  <tr>
  </thead>
  <tbody>
  <% @payments.each do |payment| %>
  <tr>
    <td><%= payment.date.to_date %></td>
    <td><%= payment.amount %></td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>
